<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">List of Timelines:</div>
                <div class="col-md-1">Filter:</div>
                <div class="col-md-3"><input class="form-control" type="text" ng-model="filterString" /></div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Active</th>
            </tr>
            <tr ng-repeat="timeline in timelines | filter:filterString">
                <td>
                    {{timeline.id}}
                </td>
                <td>
                    <a href="#{{ROUTES.ADMIN_EDIT}}/{{timeline.id}}">{{timeline.title}}</a>
                </td>
                <td>
                    {{timeline.type}}
                </td>
                <td>
                    {{timeline.isActive}}
                </td>
            </tr>
        </table>
    </div>
</div>