extends layout

block content
    div.navbar.navbar-default.navbar-static-top
        div.container
            div.navbar-header
                button.navbar-toggle.collapsed
                    span.sr-only
                        Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                span.navbar-brand
                    EPAM TV
            nav.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="#{{ROUTES.ADMIN_ROOT}}")
                            Edit Slides
                    li
                        a(href="#{{ROUTES.ADMIN_ADD}}")
                            Add Slide
                    li
                        a(href="#{{ROUTES.ADMIN_TIMELINES}}")
                            Edit Timeline
                    li
                        a(href="{{APP_CONST.SLIDESHOW_URL}}")
                            Run Slideshow
    div(ng-view)
    script(src="/js/components.js")
    script(src="/js/app.js")