doctype html
html(ng-app="tvapp")
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/cupertino/jquery-ui.min.css')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/cupertino/theme.css')

  body
    block content