<table class="slides-table">
    <tr>
        <th class="slides-table__title">Title</th>
        <th class="slides-table__type">Type</th>
        <th class="slides-table__active">Active</th>
    </tr>
    <tr ng-repeat="slide in slides | filter: filterString | orderBy: slide.generalOrder" class="{{ (slide.isActive) ? 'slides-table_active' : '' }}">
        <td class="slides-table__title">
            <a href="#{{ROUTES.ADMIN_EDIT}}/{{slide._id}}">{{slide.title || slide.name}}</a>
        </td>
        <td class="slides-table__type">
            {{slide.slideType}}
        </td>
        <td class="slides-table__active">
            {{ (slide.isActive) ? 'Yes' : 'No'}}
        </td>
        <td class="slides-table__delete">
            <button ng-click="deleteSlide(slide._id)" class="btn btn_delete slides-table__delete">Delete Slide</button>
        </td>
    </tr>
</table>