<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="title" ng-model="currentData.title" required>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <textarea class="form-control" rows="2" id="description" ng-model="currentData.description"></textarea>
    </div>
</div>
<div class="form-group">
    <label for="dateRangeStart"  class="col-sm-2 control-label">Date Range</label>
    <div class="col-sm-3" style="text-align: center;">
        <input type="text" class="form-control" id="dateRangeStart" ng-model="currentData.dateRangeStart" placeholder="Start Date" ui-date required>
    </div>
    <div class="col-sm-3" style="text-align: center;">
        <input type="text" class="form-control" id="dateRangeEnd" ng-model="currentData.dateRangeEnd" placeholder="End Date" ui-date required>
    </div>
</div>
<div class="form-group" ng-repeat="item in currentData.employees track by $index">
    <label for="employee-name-{{$index}}" class="col-sm-2 control-label">Employee #{{$index+1}}</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="employee-name-{{$index}}" ng-model="currentData.employees[$index].name" placeholder="Name" required>
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="employee-date-{{$index}}" ng-model="currentData.employees[$index].date" placeholder="Birthday Date" ui-date required>
    </div>
</div>
<div class="form-group">
    <label for="employee-name-0" class="col-sm-2 control-label">Employee #1</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="employee-name-0" ng-model="currentData.employees[0].name" placeholder="Name" required>
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="employee-date-0" ng-model="currentData.employees[0  ].date" placeholder="Birthday Date" ui-date required>
    </div>
</div>
<div class="form-group">
    <div  class="col-sm-2 control-label"></div>
    <div class="col-sm-10" style="text-align: center;">
        <button type="button" class="btn btn-default" ng-click="addEmployee()">Add Employee</button>
    </div>
</div>