<section class="timeline">
    <header class="timeline__head">
        <h3 class="timeline__title">
            Timeline
        </h3>
        <h3 class="timeline__title">
            Slides
        </h3>
    </header>
    <div class="timeline__col timeline__col_active" as-sortable="timelineSortOpitons" ng-model="slides.active">
        <article ng-repeat="slide in slides.active" as-sortable-item class="timeline__item timeline__item_active">
            <div class="timeline__handler" as-sortable-item-handle>
                <img src="{{slide.imageSrc || 'http://placehold.it/300x300&text=placeholder'}}" alt="{{slide.title}}" class="timeline__photo">

                <small># {{$index + 1}}</small><br/>
                <a href="#{{ROUTES.ADMIN_EDIT}}/{{slide._id}}">{{slide.title || slide.name}}</a>
                type: {{slide.slideType}}

                <div ng-hide="slide.slideType == 'Video'" class="timeline__duration">
                    Duration: <input type="text" ng-model="slide.duration" class="input input__duration"/> <small>sec</small>
                </div>
            </div>
        </article>
    </div>
    <div class="timeline__col timeline__col_no-active" as-sortable="timelineSortOpitons"  ng-model="slides.noActive">
        <article ng-repeat="slide in slides.noActive" as-sortable-item class="timeline__item timeline__item_no-active">
            <div class="timeline__handler" as-sortable-item-handle>
                <img src="{{slide.imageSrc}}" alt="{{slide.title}}" class="timeline__photo">

                <a href="#{{ROUTES.ADMIN_EDIT}}/{{slide._id}}">{{slide.title || slide.name}}</a>
                type: {{slide.slideType}}
            </div>
        </article>
    </div>

    <footer class="timeline__footer">
        <button type="submit" class="btn btn_save" ng-click="save()" ng-disabled="!isChanged">Save</button>

        <ui-messages message="message"></ui-messages>
    </footer>
</section>
