<section class="slides">
    <header class="slides__header">
        <div class="slides__switch">
            <button type="button" class="btn btn_switch {{ (template.url === selectedTemplateUrl) ? 'btn_active' : ''}}"
                    ng-repeat="template in templates"
                    ng-click="setTemplate(template)">{{template.name}}</button>
        </div>
        <div class="slides__filter"><input class="input" type="text" ng-model="filterString" class="input" placeholder="filter"/></div>
    </header>

    <div ng-include="selectedTemplateUrl" class="slides__body"></div>

    <ui-messages message="message"></ui-messages>
</section>