<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <input type="text" class="form-group__field input" id="name" ng-model="currentData.name" required>
</div>
<div class="form-group"">
    <label for="position" class="col-sm-2 control-label">Position</label>
    <input type="text" class="form-group__field input" id="position" ng-model="currentData.position" required>
</div>
<div class="form-group">
    <label for="department" class="col-sm-2 control-label">Department</label>
    <input type="text" class="form-group__field input" id="department" ng-model="currentData.department" required>
</div>
<div class="form-group" ng-show="currentData.slideType">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <textarea class="form-group__field input input_textarea" id="description" ng-model="curentData.description"></textarea>
</div>
