<div class="form-group" ng-show="currentData.slideType == 'Video' || currentData.slideType == 'Birthdays'">
    <label for="title" class="form-group__label">Title</label>
    <input type="text"class="form-group__field input" id="title" ng-model="currentData.title" required>
</div>
<div class="form-group" ng-show="currentData.slideType">
    <label for="description" class="form-group__label">Description</label>
    <textarea class="form-group__field input input_textarea" rows="2" id="description" ng-model="currentData.description"></textarea>
</div>
<div class="form-group" ng-show="currentData.slideType == 'Video'">
    <label for="videoUrl" class="form-group__label">YouTube URL</label>
    <input type="text"class="form-group__field input" id="videoUrl" ng-model="currentData.videoURL" required>
</div>