<div class="container" id="board">
    <div class="row">
        <div class="col-sm-6">
            <h3>Timeline:</h3>
            <div as-sortable="timelineSortOpitons" ng-model="slides.active" style="min-height: 100px;">
                <div ng-repeat="slide in slides.active" as-sortable-item>
                    <div class="panel panel-info" as-sortable-item-handle>
                        <div class="panel-heading">
                            title: {{slide.title || slide.name}} | type: {{slide.slideType}} |
                            <a href="#{{ROUTES.ADMIN_EDIT}}/{{slide._id}}">Edit</a>
                            <div style="float: right;" ng-hide="slide.slideType == 'Video'">
                                Duration: <input type="text" ng-model="slide.duration" style="width:60px;"/> sec
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Slides:</h3>
            <div as-sortable="timelineSortOpitons"  ng-model="slides.noActive" style="min-height: 100px;">
                <div ng-repeat="slide in slides.noActive" as-sortable-item>
                    <div class="panel panel-default" as-sortable-item-handle>
                        <div class="panel-heading"> title: {{slide.title || slide.name}} | type: {{slide.slideType}} | <a
                                href="#{{ROUTES.ADMIN_EDIT}}/{{slide._id}}">Edit</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 30px;">
        <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="!isChanged">Save</button>
        <button type="button" class="btn btn-danger" ng-click="revert()" ng-disabled="!isChanged">Revert</button>
    </div>
    <div class="row" ng-show="showMessage">
        <div class="panel panel-success"><div class="panel-heading">{{showMessage}}</div></div>
    </div>
    <div class="row" ng-show="showError">
        <div class="panel panel-danger"><div class="panel-heading">{{showError}}</div></div>
    </div>
</div>