<section class="slide">
    <form role="form" ng-submit="save()">

        <header class="slide__head">
            <ui-photo src="currentData.imageSrc"></ui-photo>

            <div class="slide__id" ng-show="currentData._id">
                ID: {{currentData._id}}
            </div>

            <div class="slide__type">
                <label for="type" class="slide__label-type">Type</label>

                <select class="slide__select-type"
                        id="type"
                        ng-model="currentData.slideType"
                        ng-options="type for type in slideTypes"></select>
            </div>
        </header>

        <div ng-include="templates[currentData.slideType]" class="slide__body"></div>

        <footer class="slide__footer">
            <button type="submit" class="btn btn_save">Save</button>
            <button type="button" class="btn btn_clear" ng-show="isNewItem" ng-click="revert()" ng-disabled="!isChanged">Clear</button>

            <ui-messages message="message"></ui-messages>
        </footer>
    </form>
</section>