<div class="container">
    <h3>List of Slides:</h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row form-horizontal">
                <div class="col-md-8">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default {{ (template.url === selectedTemplateUrl) ? 'btn-primary' : ''}}"
                                              ng-repeat="template in templates"
                                              ng-click="setTemplate(template)">{{template.name}}</button>
                    </div>
                </div>

                <label class="col-md-1 control-label" for="filter">Filter:</label>
                <div class="col-md-3"><input class="form-control" type="text" ng-model="filterString" id="filter"/></div>
            </div>
        </div>

        <div ng-include="selectedTemplateUrl"></div>
    </div>

    <ui-messages message="message"></ui-messages>
</div>