<div class="login" ng-hide="formIsHidden">
    <form name="form" ng-submit="login()" role="form">
        <div class="form-group">
            <label for="username" class="form-group__label label">Username</label>
            <input type="text" name="username" id="username" class="form-group__field input" ng-model="username" required />
        </div>
        <div class="form-group">
            <label for="password" class="form-group__label label">Password</label>
            <input type="password" name="password" id="password" class="form-group__field input" ng-model="password" required />
        </div>
        <div class="form-group">
            <button type="submit" class="form-group__login btn btn_login">Login</button>
        </div>
    </form>

    <ui-messages message="message"></ui-messages>
</div>