.grid
    font-size: 0

    &__item
        display: inline-block
        font-size: 11px
        width: 30%
        margin: 0 1.5% 20px
        border: 1px solid color-border
        box-sizing: border-box
        padding: 10px

    &__link
        position: relative
        width: 100%
        text-align: center
        overflow: hidden
        display: block
        height: 150px
        margin-bottom: 5px

    &__photo
        height: 150px
