.message
    padding: 10px
    text-align: center
    margin: 10px 0
    font-weight: bold
    
    &_notification
        border: 1px solid #008000
        color: #008000
        background-color: rgba(#008000, .3)

    &_error
        border: 1px solid  #ff0000
        color: #ff0000
        background-color: rgba(#ff0000, .3)