.nav
    padding-bottom: 15px
    margin-bottom: 40px
    border-bottom: 1px solid rgba(0, 0, 0, .1)

    &__list
        margin: 0
        padding: 0
        list-style: none
        overflow: hidden
        
        
    &__item
        float: left
        height: 40px
        line-height: 40px
        margin-right: 20px

        &_logout
            float: right
            margin-right: 0

    &__link
        font-size: 12px
        text-decoration: none
        color: #383838

        &:hover
            text-decoration: underline
