.slide
    &__head
        width: 200px
        margin: 0 auto
        padding-bottom: 30px

    &__id
        font-size: 10px
        color: color-grey

    &__footer
        margin-top: 20px
        padding-bottom: 50px
        text-align: center