.slides
    &__header
        overflow: hidden
        padding-bottom: 10px
        border-bottom: 1px solid color-border
        margin-bottom: 30px

    &__filter
        float: right
        width: 20%

    &__switch
        float: left