.slides-table
    width: 100%
    
    th
        text-align: left
        font-size: 11px
        padding-bottom: 10px

    td
        height: 35px
        line-height: @heigt
        padding: 5px
        
    tr:nth-child(2n) td
        background: color-lightGrey

    &__delete
        text-align: right