.timeline
    bottom: 0
    background-color: #fff
    user-select: none

    &__title
        float: left
        width: 50%

    &__head
        height: 40px

    &__head
        top: 0

    &__footer
        text-align: center
        padding-top: 10px
        clear: both
        overflow: hidden
        margin-bottom: 30px

    &__col
        width: 50%
        box-sizing: border-box
        float: left
        min-height: 200px


    &__item
        margin: 10px
        padding: 10px
        background-color: #fff
        border: 1px solid color-lightGrey
        overflow: hidden
        user-select: none

        a
            display: block

    &__photo
        height: 100px
        float: left
        margin-right: 10px

    &__handler
        overflow: hidden


    &__duration
        .input
            width: 50px