color-text= #333
color-border= rgba(0, 0, 0, .1)
color-shadow= rgba(0,0,0,.1)
color-epamBlue= #00498f
color-link= #0073ea
color-lightGrey= rgba(0, 0, 0, .1)
color-grey= rgba(0, 0, 0, .4)
color-button= #00498f
color-danger= red